<!--Название колонки-->
<div layout="row" layout-align="center center" column-header></div>
<md-divider vertical></md-divider>
<!--Добавление карточки-->
<div layout="row" class="board-column__buttons-container">
    <div class="board-column__buttons">
        <md-button aria-label="Add Card Button" class="md-fab md-raised md-mini"
                   ng-click="column_ctrl.addCard($event)"
                   md-style-color="background"
                   md-style-theme="default"
                   md-style-color-attrs="background-color"
                >
            <md-tooltip>Добавить карту</md-tooltip>
            <span md-style-color>
                <md-icon class="material-icons" style="color:inherit">add</md-icon>
            </span>
        </md-button>
    </div>

</div>

<div layout="column" flex class="card-container">
    <!--Шаблон новой карточки-->
    <div layout="column" style="min-height: 100px" ng-show="column_ctrl.add">
        <md-card class="md-whiteframe-z2" ng-show="column_ctrl.add"
                 md-style-color="primary"
                 md-style-theme="taskTheme"
                 md-style-color-attrs="background-color">
            <div class="card">
                <div layout="row" layout-align="center" new-card></div>
            </div>
        </md-card>
    </div>
    <!--Карточки, принадлежащие данной колонке. Drag'n'drop контейнер.-->
    <div ng-controller="CardSortCtrl" id="{{ column.id }}" style="min-height: 100px">
        <div ng-repeat="card in board_ctrl.cards| currentCard:column.id" id="{{ card.id }}">
            <div card="{{ card }}">
            </div>
        </div>
    </div>
</div>