<label class="dialog-label">Участники</label>
<div style="position: relative;" layout="row" flex>
    <md-contact-chips flex
                      ng-model="board_settings_dialog_ctrl.members"
                      md-contacts="board_settings_dialog_ctrl.querySearch($query)"
                      md-contact-name="fullname"
                      md-contact-image="avatar"
                      md-contact-email="email"
                      md-require-match="true"
                      md-highlight-flags="i"
                      filter-selected="board_settings_dialog_ctrl.filterSelected"
                      placeholder="Выберите участников">
    </md-contact-chips>
    <md-button class="md-raised">Добавить</md-button>
</div>
<md-list class="fixedRows">
    <md-list-item class="md-2-line contact-item"
                  ng-repeat="(index, colleague) in board_settings_dialog_ctrl.colleagues"
                  ng-if="board_settings_dialog_ctrl.members.indexOf(colleague) < 0"
                  style="cursor: pointer"
                  ng-click="board_settings_dialog_ctrl.addContact(colleague)">
        <img ng-src="{{ colleague.avatar }}" class="md-avatar colleague_avatar"
             alt="{{ colleague.initials }}"/>

        <div class="md-list-item-text compact">
            <h3>{{ colleague.fullname }}</h3>

            <p>{{ colleague.email }}</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line contact-item selected"
                  ng-repeat="(index, colleague) in board_settings_dialog_ctrl.members">
        <img ng-src="{{ colleague.avatar }}" class="md-avatar colleague_avatar"
             alt="{{ colleague.initials }}"/>

        <div class="md-list-item-text compact">
            <h3>{{ colleague.fullname }}</h3>

            <p>{{ colleague.email }}</p>
        </div>
    </md-list-item>
</md-list>