<!--Название колонки. При нажатии доступно изменение названия-->
<md-button ng-click="column_header_ctrl.changeColumnTitle()"
           ng-hide="column_header_ctrl.changed" style="width: 100%" aria-label="Change column title">

    <span ng-bind="column_header_ctrl.column.title" class="board-column-title"></span>
</md-button>
<!--Форма изменения названия-->
<form name="changing_column_title_form" novalidate ng-show="column_header_ctrl.changed"
      ng-submit="column_header_ctrl.changeColumnConfirm()" flex>
    <div layout="row" layout-md="column" layout-align="space-between center">
        <div flex flex-gt-md="70" flex-gt-lg="80">
            <md-input-container md-no-float class="md-block">
                <label>Название</label>
                <input type="text" md-maxlength="20" ng-maxlength="20" required name="title"
                       ng-model="column_header_ctrl.changing_column.title"/>
                <!--Отображение ошибок-->
                <div ng-messages="changing_column_title_form.title.$error">
                    <div ng-message="required">Название не может быть пустым</div>
                    <div ng-message="md-maxlength">Максимальное количество знаков - 20</div>
                </div>
            </md-input-container>
        </div>

        <div flex layout="row">
            <!--Подтверждение изменения-->
            <md-button class="md-icon-button md-primary" style="width: 50%;" aria-label="Confirm"
                       type="submit"
                       ng-disabled="changing_column_title_form.$invalid">

                <md-tooltip>Сохранить</md-tooltip>
                <md-icon class="material-icons">check</md-icon>
            </md-button>
            <!--Отмена изменения-->
            <md-button class="md-icon-button md-warn" style="width: 50%;" aria-label="Cancel"
                       ng-click="column_header_ctrl.changeColumnCancel()">

                <md-tooltip>Отменить</md-tooltip>
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </div>
</form>
