<form name="adding_card_form" novalidate flex ng-submit="column_ctrl.addCardConfirm()">
    <div layout="row" layout-md="column" layout-align="space-between center">
        <div flex flex-gt-md="65" flex-gt-lg="75">
            <md-input-container md-no-float class="md-block">
                <label>Название</label>
                <input type="text" md-maxlength="30" required name="title"
                       ng-model="column_ctrl.adding_card.title"/>

                <div ng-messages="adding_card_form.title.$error">
                    <div ng-message="required">Название не может быть пустым</div>
                    <div ng-message="md-maxlength">Максимальное количество знаков - 30</div>
                </div>
            </md-input-container>
        </div>
        <div flex layout="row">
            <md-button class="md-icon-button md-primary" flex aria-label="Confirm"
                       type="submit"
                       ng-disabled="adding_card_form.$invalid">

                <md-tooltip>Сохранить</md-tooltip>
                <md-icon class="material-icons">check</md-icon>
            </md-button>
            <md-button class="md-icon-button " flex aria-label="Cancel"
                       ng-click="column_ctrl.addCardCancel()">

                <md-tooltip>Отменить</md-tooltip>
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </div>
</form>

