.card {
  margin-top: 15px;
  position: relative;
  //  min-height: 100%;
  cursor: pointer;
}

.card_container {
  min-height: 100px;
  cursor: move;
}

.card-priority-1 {
  background-color: #ffffff
}

.card-priority-2 {
  background-color: #fffccc
}

.card-priority-3 {
  background-color: #ffe3df
}

.card__deadline{

}