.card {
  position: relative;
  cursor: pointer;
}

.card_container {
  min-height: 100px;
}

// Цвет карточки в зависимости от приоритета
.card-priority-1 {
  background-color: #ffffff
}

.card-priority-2 {
  background-color: #fffccc
}

.card-priority-3 {
  background-color: #ffe3df
}

// Нзавание карты
.card__title {
  overflow: hidden;
  word-wrap: break-word;
  padding-left: 5px;
  padding-right: 5px;
}