<div style="position: relative">
                <span class="md-headline column_header" layout="row" layout-align="center center">
                Доски
            </span>
    <md-button class="md-fab md-raised md-mini"
               aria-label="Создать доску"
               ng-click="main_ctrl.newChangeBoard($event)"
               style="position: absolute; right: 0; bottom: -24px"
               md-style-color="background"
               md-style-theme="default"
               md-style-color-attrs="background-color">
        <md-tooltip>Создать доску</md-tooltip>
            <span md-style-color>
                <md-icon class="material-icons" style="color:inherit">add</md-icon>
            </span>
    </md-button>


    <md-divider vertical></md-divider>
</div>

<md-list>
    <md-list-item class="md-2-line" ng-repeat="board in main_ctrl.boards"
                  ui-sref="board({id:{{ board.id }}})">
        <span class="profile_board__user_type">П</span>

        <div class="md-list-item-text" layout="column">
            <h3>{{board.title}}</h3>

            <p>
                {{board.description}}
            </p>
        </div>
        <md-divider vertical></md-divider>
    </md-list-item>
</md-list>