
.md-toolbar__buttons {
  position:absolute;
  right: 5px;
  bottom: -32px;
//  z-index: 20;
  transform:scale(1,1);
  transition: transform .1s ease-out;
}
[board-header] {
  position: relative;
//  max-height: 60px;
}
.md-grey{
  background-color: #585858 !important;
}
//.md-danger{
//  background-color: #585858 !important;
//}