<!--Изменение задачи-->
<md-dialog aria-label="editing" ng-cloak flex="50">
    <form name="changing_card_form" novalidate
          ng-submit="card_settings_dialog_ctrl.changeCardConfirm()">
        <!--Цвет карточки в зависимотси от приоритета-->
        <md-dialog-content
                ng-class="{
        'card-priority-1' : card_settings_dialog_ctrl.card.priority==1,
        'card-priority-2' : card_settings_dialog_ctrl.card.priority==2,
         'card-priority-3' : card_settings_dialog_ctrl.card.priority==3}">
            <div class="md-dialog-content">
                <div class="card-settings-dialog__buttons">
                    <!--При нажатии на кнопку пользоватеь становится работником карточки-->
                    <md-button aria-label="board settings" class="md-fab md-raised md-mini"
                               ng-click="card_settings_dialog_ctrl.workOnCard()"
                               ng-class="{'card-settings-dialog__buttons__worker_button md-primary' : card_settings_dialog_ctrl.workerIsUser()}">
                        <md-tooltip>Взять задачу</md-tooltip>
                        <md-icon class="material-icons" style="color:grey">assignment_ind</md-icon>
                    </md-button>

                    <!--Архивирование карточки-->
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="board settings" class="md-fab md-raised md-mini"
                                   ng-click="$mdOpenMenu()">
                            <md-tooltip>Завершить задачу</md-tooltip>
                            <md-icon class="material-icons" style="color:grey">archive</md-icon>
                        </md-button>
                        <!--Окно подтверждения-->
                        <md-menu-content width="4">
                            <span style="text-align: center;">Завершить задачу?</span>

                            <div layout="row">
                                <md-button class="md-raised md-primary" style="width: 50%;"
                                           ng-click="card_settings_dialog_ctrl.archiveCard()">
                                    Завершить
                                </md-button>
                                <md-button style="width: 50%;">Отменить</md-button>
                            </div>
                        </md-menu-content>
                    </md-menu>

                    <!--Удаление карточки-->
                    <md-menu md-position-mode="target-right target">
                        <md-button class="md-fab md-raised md-mini" aria-label="board statistic"
                                   ng-click="$mdOpenMenu()" style="background-color: rgb(171, 91, 88);">

                            <md-tooltip>Удалить задачу</md-tooltip>
                            <md-icon class="material-icons" style="color:white">delete</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <span style="text-align: center;">Подтвердите удаление</span>

                            <div layout="row">
                                <md-button class="md-raised" style="width: 50%;"
                                           style="background-color: #7F1612; color: #fff;"
                                           ng-click="card_settings_dialog_ctrl.deleteCard()">
                                    Удалить
                                </md-button>
                                <md-button style="width: 50%;">Отменить</md-button>
                            </div>
                        </md-menu-content>
                    </md-menu>
                </div>
                <!--Название задачи-->
                <md-input-container md-no-float class="md-block">
                    <label>Название</label>
                    <input type="text" md-maxlength="30" required name="title"
                           ng-model="card_settings_dialog_ctrl.card.title"/>

                    <div ng-messages="changing_card_form.title.$error">
                        <div ng-message="required">Название не может быть пустым</div>
                        <div ng-message="md-maxlength">Максимальное количество знаков - 30</div>
                    </div>
                </md-input-container>
                <!--Описание задачи-->
                <md-input-container md-no-float class="md-block">
                    <label>Описание</label>
                    <textarea name="description" ng-model="card_settings_dialog_ctrl.card.description"></textarea>
                </md-input-container>
                <!--Теги-->
                <div layout="column">
                    <label class="dialog-label">Категории</label>
                    <md-chips ng-model="card_settings_dialog_ctrl.card.tags" placeholder="Новая категория"
                              secondary-placeholder="Добавьте категории"></md-chips>
                </div>
                <!--Приоритет-->
                <div layout="column" style="margin-top: 20px">
                    <label class="dialog-label">Приоритет</label>
                    <md-slider md-discrete ng-model="card_settings_dialog_ctrl.card.priority"
                               step="1" min="1" max="3" aria-label="priority" class="md-primary">
                    </md-slider>
                </div>
                <!--Дедлайн-->
                <div flex layout="column">
                    <!--Кнопка добавления дедлайна в случае его отсутствия-->
                    <md-button ng-click="card_settings_dialog_ctrl.addLastDate()"
                               ng-if="card_settings_dialog_ctrl.card.last_date==null" style="width: 100%;">
                        Добавить дедлайн
                    </md-button>
                    <!--Сам дедлайн-->
                    <div ng-if="card_settings_dialog_ctrl.card.last_date!=null" layout="column"
                         style="margin-top: 20px">
                        <label class="dialog-label">Срок</label>
                        <md-datepicker name="last_date" ng-model="card_settings_dialog_ctrl.card.last_date"
                                       md-placeholder="Введите дату окончания"
                                       style="background: inherit!important;">
                        </md-datepicker>
                        <div class="error" ng-show="changing_card_form.last_date.$error.valid"
                             style="margin-left: 35px;">Неверный формат даты
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <!--Сохранение изменений в случае их наличия-->
        <md-dialog-actions layout="row" ng-if="!card_settings_dialog_ctrl.compareCards()"
                           class="md-toolbar card-settings-dialog__footer">
            <md-button class="md-primary md-raised" style="width: 100%;"
                       ng-click="card_settings_dialog_ctrl.saveCard()">Сохранить
                изменения
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
