<form name="settings_password_form" novalidate>
    <div style="position: relative">
        <!-- {{new_invited_member}} -->
    <span class="md-headline column_header" layout="row"
          layout-align="center center">Смена пароля</span>
        <md-divider vertical></md-divider>
        <!--Кнопка добавления приглашения с выпадающим меню-->
        <md-button aria-label="Save New Password" class="md-fab md-accent md-raised"
                   style="position: absolute; right: 0; bottom: -32px"
                   ng-click="settings_password_ctrl.savePassword()"
                   ng-disabled="settings_password_form.$invalid"
                   ng-if="settings_password_ctrl.startChangingPassword()">
            <md-tooltip>Сменить пароль</md-tooltip>
            <md-icon class="material-icons">done</md-icon>
        </md-button>
    </div>
    <md-input-container md-no-float class="md-block" style="margin-bottom: 5px;">
        <label>Старый пароль</label>
        <input type="password" required name="old_password" ng-model="settings_password_ctrl.passwords.old_password"/>

        <div ng-messages="settings_password_form.old_password.$error">
            <div ng-message="required">Введите старый пароль</div>
        </div>
    </md-input-container>
    <md-input-container md-no-float class="md-block" style="margin-bottom: 5px;">
        <label>Новый пароль</label>
        <input type="password" required name="new_password" ng-model="settings_password_ctrl.passwords.new_password"/>

        <div ng-messages="settings_password_form.new_password.$error">
            <div ng-message="required">Введите новый пароль</div>
        </div>
    </md-input-container>
    <md-input-container md-no-float class="md-block" style="margin-bottom: 5px;">
        <label>Подтвердите пароль</label>
        <input type="password" name="confirm_password"
               required
               ng-model="settings_password_ctrl.passwords.confirm_password"
               compare-to="settings_password_ctrl.passwords.new_password"/>

        <div ng-messages="settings_password_form.confirm_password.$error">
            <div ng-message="compareTo">Пароли не совпадают</div>
        </div>
    </md-input-container>
</form>