<div layout="row" layout-md="column" layout-align="space-between center">
    <div flex flex-gt-md="90" flex-gt-lg="90">
        <md-input-container md-no-float class="md-block">
            <label>Категория</label>
            <input type="text" md-maxlength="20" ng-maxlength="20" name="column"
                   ng-model="board_settings_columns_ctrl.adding_column.title"/>

        </md-input-container>
    </div>
    <div flex layout="row">
        <md-button
                ng-disabled="board_settings_columns_ctrl.adding_column.title.length==0"
                ng-click="board_settings_columns_ctrl.addColumn()">Добавить
        </md-button>
    </div>
</div>
<!--Позволяем сортировать колонки. Контроллер сортировки -ColumnSortCtrl -->
<div ng-controller="ColumnSortCtrl" style="min-height: 100px;margin-top: -25px; padding-top:20px">
    <div>
        <div ng-repeat="column in board_settings_columns_ctrl.columns" style="cursor: move">
            <!--В случае, если колонка удалена, перестаем ее отображать-->
            <div ng-if="column.type !== 'deleting'">
                <div ng-if="board_settings_columns_ctrl.changing_column_original!=column">
                    <md-list-item class="" layout="row">

                        <div flex flex-gt-md="90" flex-gt-lg="85">
                            <!--Позволяем изменять порядок колонок при перетакивании с помощью этой колонки-->
                            <!--<md-icon class="material-icons handle">swap_vert</md-icon>-->
                            <span>{{ column.title }}</span>
                        </div>
                        <div flex layout="row">


                            <md-button class="md-icon-button " aria-label="Cancel" style="height: inherit; width: 50%;"
                                       ng-click="board_settings_columns_ctrl.changeColumn(column)">

                                <md-tooltip>Изменить</md-tooltip>
                                <md-icon class="material-icons" style="color: #808080;">edit</md-icon>
                            </md-button>
                            <md-menu md-position-mode="target-right target">
                                <md-button class="md-icon-button " aria-label="Cancel"
                                           ng-click="$mdOpenMenu()">

                                    <md-tooltip>Удалить</md-tooltip>
                                    <md-icon class="material-icons" style="color: #7f1612;">delete</md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <span style="text-align: center;">Подтвердите удаление</span>

                                    <div layout="row">
                                        <md-button class="md-raised"
                                                   style="background-color: #7F1612; color: #fff; width: 50%;"
                                                   ng-click="board_settings_columns_ctrl.deleteColumn(column)">
                                            Удалить
                                        </md-button>
                                        <md-button style="width: 100%;">Отменить</md-button>
                                    </div>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
                <div layout="row" layout-md="column" layout-align="space-between center"
                     ng-if="board_settings_columns_ctrl.changing_column_original==column">
                    <form name="changing_column_title_form" novalidate
                          flex>

                        <div flex flex-gt-md="90" flex-gt-lg="90">
                            <md-input-container md-no-float class="md-block">
                                <label>Название</label>
                                <input type="text" md-maxlength="20" ng-maxlength="20" required name="title"
                                       ng-model="board_settings_columns_ctrl.changing_column.title"/>


                                <div ng-messages="changing_column_title_form.title.$error">
                                    <div ng-message="required">Название не может быть пустым</div>
                                    <div ng-message="md-maxlength">Максимальное количество знаков - 20</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex layout="row">
                            <md-button class="md-icon-button md-primary" style="width: 50%;" aria-label="Confirm"
                                       ng-disabled="changing_column_title_form.$invalid"
                                       ng-click="board_settings_columns_ctrl.changeColumnConfirm()">

                                <md-tooltip>Сохранить</md-tooltip>
                                <md-icon class="material-icons">check</md-icon>
                            </md-button>
                            <md-button class="md-icon-button " style="width: 50%;" aria-label="Cancel"
                                       ng-click="board_settings_columns_ctrl.changeColumnCancel()">

                                <md-tooltip>Отменить</md-tooltip>
                                <md-icon class="material-icons">close</md-icon>
                            </md-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
