<!--Окно настройки или создания доски-->
<md-dialog aria-label="editing" ng-cloak flex="80">
    <form name="board_form" novalidate
          ng-submit="board_settings_dialog_ctrl.changeBoardConfirm()">

        <md-dialog-content>
            <div class="md-dialog-content">
                <!--Название доски-->
                <md-input-container md-no-float class="md-block">
                    <label>Название</label>
                    <input type="text" md-maxlength="20" ng-maxlength="20" required name="title"
                           ng-model="board_settings_dialog_ctrl.board.title"/>

                    <div ng-messages="board_form.title.$error">
                        <div ng-message="required">Название не может быть пустым</div>
                        <div ng-message="md-maxlength">Максимальное количество знаков - 20</div>
                    </div>
                </md-input-container>
                <!--Описание доски-->
                <md-input-container md-no-float class="md-block">
                    <label>Описание</label>
                    <textarea name="description" ng-model="board_settings_dialog_ctrl.board.description"></textarea>
                </md-input-container>

                <!--Колонки доски-->
                <board-settings-columns></board-settings-columns>
                <!--Пользователи доски-->
                <board-settings-members></board-settings-members>
            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row" ng-if="!board_settings_dialog_ctrl.compareCards()"
                           class="md-toolbar card-settings-dialog__footer">
            <md-button class="md-primary md-raised" style="width: 100%;"
                       ng-click="board_settings_dialog_ctrl.saveBoard()"
                       ng-if="board_settings_dialog_ctrl.changing && !board_settings_dialog_ctrl.compareBoards()">
                Сохранить изменения
            </md-button>
            <md-button class="md-primary md-raised" style="width: 100%;"
                       ng-click="board_settings_dialog_ctrl.saveBoard()"
                       ng-if="!board_settings_dialog_ctrl.changing">Создать доску
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
